<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>com.journalapi.app</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>notionjournal</string>
            </array>
        </dict>
    </array>
    <key>CFBundleIdentifier</key>
    <string>com.journalapi.app</string>
    <key>CFBundleName</key>
    <string>JournalAPI</string>
    <key>CFBundlePackageType</key>
    <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSMinimumSystemVersion</key>
    <string>$(MACOSX_DEPLOYMENT_TARGET)</string>
</dict>
</plist>
